// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: 222;
$font-size: 1.5rem;
$line-height: 1.5;
$font-family: Open Sans, sans-serif;

// Colors
$primary-color: #FFCE46;
$success-color: #89DA59;
$dark-text: #333333;
$highlight-color: #80AFC5;
$success-hover-color: #55A725;
$delete-color: #A43820;
$delete-hover-color: #802C19;
$update-color: #FFBB00;
$update-hover-color: #CC9600;
$cancel-color: #3498db;
