/* Main SCSS file */

// Base
@import "variables";

// Components
@import "scaffolding";

.header {
  background: $primary-color;
  height: 100px;

  > h3 {
    margin-top: 0px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-weight: normal;
  }
}

button {
  height: 30px;
  width: 15%;
  border-radius: 4px;
  border: 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.container {
  width: 80%;
  margin: 50px auto;

  > h4 {
    font-weight: 300;
    height: 35px;
    margin-bottom: 15px;
    color: $dark-text;
    font-size: 0.9em;
  }

  > form {
    margin-bottom: 50px;

    > input {
      width: 30%;
      border-radius: 4px;
      height: 25px;
      padding-left: 10px;

      &:focus {
        border: 2px solid $highlight-color;
        outline: 0 none;
      }
    }

    > button {
      background: $success-color;

      &:hover {
        background: $success-hover-color;
      }
    }

  }

  .user-tab {
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid $dark-text;
    border-radius: 3px;

    > p {
      margin: 5px;
      font-size: 0.8rem;
    }

    > #delete {
      background: $delete-color;

      &:hover {
        background: $delete-hover-color;
      }
    }

    > #update {
      background: $update-color;

      &:hover {
        background: $update-hover-color;
      }
    }

    > form > #cancel {
      background: $cancel-color;
      width: 5%;
    }

    > form > #save {
      background: $success-color;
      width: 6%;

      &:hover {
        background: $success-hover-color;
      }
    }
  }
}
